*{
  border: 1px solid red !important;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: serif;
}

.search-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchTerm{
  width: 300px;
}

.#search{

}

.random{
  margin-top: 10px;
}

#output{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.output-content{
  margin: 5px 5px 5px 5px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;

}
.title{
  font-size: 20px
  margin-bottom: 5px;
}

.description{
  margin-top: 10px;
  font-size: 15px;
  max-width: 50%;
}

.link{

}
